<hr class="featurette-divider">

<div class="container">
      <!-- FOOTER -->
      <footer>
   <p class="pull-right">  <%= link_to "Back to Top", root_path %>   </p>
	<p>
		&copy; 2016 
		<%= link_to "Brian Burkard", root_path %>
		&middot;
		<%= link_to "Home", root_path %>
		&middot;
		<%= link_to "About", about_path%>
	</p>
     <p> Powered By: <%= link_to "Watkins Proactive Research LLC", "http://www.watkinstechpro.com", target: "_blank" %>  <%= image_tag "wprlogo.png" %> </p>
      </footer>
</div>
